{% extends 'budgeter/base.html' %}
{% block content %}
    <h1>Choose Transaction Type</h1>
    <ul>
      <li><a href="create_transaction_record">Add Transaction Record</a></li>
      {% comment %}
      <li><a href="add_expense">Add An Expense</a></li>
      <li><a href="add_recurring_expense">Add A Regularly Recurring Expense</a></li>
      <li><a href="add_deposit">Add Cash Deposit</a></li>
      <li><a href="add_withdrawal">Add Cash Withdrawal</a></li>
      <li><a href="add_transfer">Transfer Funds</a></li>
      <li><a href="add_adjustment">Other Adjustments</a></li>
      {% endcomment %}
    </ul>
{% endblock %}
