{% extends base_template %}
{% block content %}
<div class="account-display-text">
  <h2>Credit Cards</h2>
  <h3>Total Credit Card Balance: ${{ credit_cards_total }}</h3>

<ul>
{% for credit_card in credit_cards %}
<li>{{ credit_card }}: ${{ credit_card.get_balance }} -
    <a href="{% url 'account_detail' slug='credit_card' pk=credit_card.account_base.id %}">View</a>
    <a href="{% url 'delete_account' pk=credit_card.account_base.id %}">Delete</a>
</li>
{% empty %}
    <li>No accounts yet.</li>
{% endfor %}
</ul>

<a href="{% url 'add_account' slug='credit_card' %}">Add a Credit Card</a>
</div>
{% endblock %}
