{% load static %}

<div class="col text-center">
  <h3>Choose an Account</h3>
  <div class="accounts">
    {% for radio in form.account %}
    <label for="{{ radio.id_for_label }}">
        {{ radio.tag }}
        <span class="radio box">{{ radio.choice_label }}</span>
    </label>
    {% endfor %}
  </div>
</div>

{% comment %}
<div>
  <h2 class="text-center">Choose Account</h2>
  <div class="row">
  {% if bank_accounts %}
  <div class="col">
  {% for bank_account in bank_accounts %}
  <div class="row justify-content-evenly">
    <div class="col text-center">
      <button type="button" id="bankaccount_{{ bank_account.account_base.id }}" class="btn border border-success text-success payment-method pm-credit-card">
        {{ bank_account }}
      </button>
    </div>
  </div>
  {% endfor %}
  </div>
  {% endif %}
  </div>
</div>
{% endcomment %}
