{% extends base_template %}
{% block content %}
<h3>Recent Expense Total: ${{ expenses_total }}</h3>
<form action="{% url 'expense_list_view' %}" method="GET">
  {% csrf_token %}
  <label for="start_date">Start Date</label>
  <input type="date" name="start_date" {% if start_date %} value={{ start_date }} {% endif %}>
  <label for="end_date">End Date</label>
  <input type="date" name="end_date" {% if end_date %} value={{ end_date }} {% endif %}>
  <!-- <select multiple name="transaction_types">
    <option value="D">Deposit</option>
    <option value="W">Withdrawal</option>
    <option value="T">Transfer</option>
    <option value="X">Expense</option>
    <option value="AC">Adjustment - Credit</option>
    <option value="AD">Adjustment - Debit</option>
  </select> -->
  {% if all_payees %}
  <select multiple name="payees">
    {% for payee in all_payees %}
      <option value="{{ payee }}">{{ payee }}</option>
    {% endfor %}
  </select>
  {% endif %}
  {% if accounts %}
  <select multiple name="accounts">
    {% for account in all_accounts %}
      <option value="{{ account.id }}">{{ account.name }}</option>
    {% endfor %}
  </select>
  {% endif %}
  <input type="submit">
</form>
<!-- id: 1
amount: 100.00
date: 2021-01-23
from_account: 1
paid_to: Amazon
note: None
has_expense_items: False
transaction: 1
Edit Expense Delete Expense -->
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Paid To</th>
      <th>Category</th>
      <th>Expense Items</th>
      <th>Edit</th>
      <th>Delete</th>
    <tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
    <tr>
      <td>{{ expense.date }}</td>
      <td>{{ expense.from_account }}</td>
      <td>{{ expense.paid_to }}</td>
      <td>{{ expense.category }}</td>
      {% if expense.has_expense_items %}
        <td><a href="{% url 'expense_item_list_view' expense.id %}">View Expense Items</a></td>
      {% else %}
      <td>None</td>
      {% endif %}
      <td><a href="{% url 'edit_expense' expense.id %}">Edit Expense</a></td>
      <td><a href="{% url 'delete_expense' expense.id %}">Delete Expense</a></td>
    </tr>
    {% empty %}
    <h3>No Recent Expenses</h3>
    {% endfor %}
  </tbody>
<table>
{% endblock %}
