{% extends base_template %}
{% block content %}
<h3>Recent Transaction Total: ${{ transactions_total }}</h3>
{% if base_template == 'budgeter/base.html' %}
<form action="{% url 'transaction_list_view' %}" method="GET">
  {% csrf_token %}
  <label for="start_date">Start Date</label>
  <input type="date" name="start_date" {% if start_date %} value={{ start_date }} {% endif %}>
  <label for="end_date">End Date</label>
  <input type="date" name="end_date" {% if end_date %} value={{ end_date }} {% endif %}>
  <select multiple name="transaction_types">
    <option value="D">Deposit</option>
    <option value="W">Withdrawal</option>
    <option value="T">Transfer</option>
    <option value="X">Expense</option>
    <option value="AC">Adjustment - Credit</option>
    <option value="AD">Adjustment - Debit</option>
  </select>
  <select multiple name="accounts">
    {% for account in all_accounts %}
      <option value="{{ account.id }}">{{ account.name }}</option>
    {% endfor %}
  </select>
  <input type="submit">
</form>
{% endif %}
<table class="col-12">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Account</th>
      <th>For</th>
      <th>Credit</th>
      <th>Debit</th>
    </tr>
  </thead>
  <tbody>
  {% for transaction in transactions %}
  <tr>
    <td>{{ transaction.transaction.date }}</td>
    <td>{{ transaction.transaction.get_type_display }}</td>
    <td>{{ transaction.transaction.account }}</td>
    {% if transaction.transaction.type == 'X' %}
    <td>{{ transaction.transaction_type.paid_to }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if transaction.transaction.ledger_type == 'D' %}
      <td></td>
      <td>${{ transaction.transaction.amount }}</td>
    {% elif transaction.transaction.ledger_type == 'C' %}
      <td>${{ transaction.transaction.amount }}</td>
      <td></td>
    {% endif %}
    <td><a href="{% url 'transaction_detail_view' transaction.transaction.id %}">View</a></td>
    <td><a href="{% url 'transaction_update_view' transaction.transaction.id %}">Edit</a></td>
    <td><a href="{% url 'transaction_delete_view' transaction.transaction.id %}">Delete</a></td>
  </tr>
  {% empty %}
  <h3>No Recent Expenses</h3>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
