{% extends base_template %}
{% block content %}
<div class="account-display-text">
  <h2>Accounts</h2>
  <h3>Total Account Balance: ${{ accounts_total }}</h3>
<ul>
{% for account in accounts %}
<li>{{ account }}: ${{ account.get_balance }} -
    <a href="{% url 'account_detail' slug='bank_account' pk=account.account_base.id %}">View</a>
    <a href="{% url 'delete_account' pk=account.account_base.id %}">Delete</a>

</li>
{% empty %}
    <li>No accounts yet.</li>
{% endfor %}
</ul>

<a href="{% url 'add_account' slug='bank_account' %}">Add an Account</a>
</div>
{% endblock %}
