<nav class="navbar" role="navigation">
  <a class="nav-logo" href="#">Ledger7</a>
  <ul class="nav-menu">
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'dashboard' pk=request.user.id %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'create_transaction_record' %}">Add Transaction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item button ">
      <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    <li class="nav-item button secondary">
      <a class="nav-link" href="{% url 'register' %}">Create an Account</a>
    </li>
    {% endif %}
  </ul>
  <button class="hamburger" aria-label="Mobile Navigation Button" aria-expanded="false">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </button>
</nav>
