{% load static %}
{% load budgeter_extras %}
<h1 class="text-center">Transfer Funds</h1>
<form method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <h3>Transfer To:</h3>
        </div>
      </div>
      <div class="row justify-content-evenly">
        <div class="col">
        {% for account in account_ids %}
        <div class="row justify-content-evenly py-2">
          <div class="col text-center">
            <button type="button" id="account_{{ account.0 }}" class="btn border border-success text-success transfer-to-account">
              {{ account.1 }}
            </button>
          </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <h3>Transfer From:</h3>
        </div>
      </div>
      <div class="row justify-content-evenly">
        <div class="col">
        {% for account in account_ids %}
        <div class="row justify-content-evenly py-2">
          <div class="col text-center">
            <button type="button" id="account_{{ account.0 }}" class="btn border border-success text-success transfer-from-account">
              {{ account.1 }}
            </button>
          </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div>
    <label class="form-label">{{ form.amount.label }}:</label>
    <span>{{ form.amount }}</span>
  </div>
  <div>
    <label class="form-label">{{ form.date.label }}:</label>
    <input type="date" name="date" id="id_date" class="form-control" value="{{ form.date.initial|format_date }}">
  </div>
  {% if transaction_record_type == 'expense' %}
  <div>
    <label class="form-label">{{ form.category.label }}:</label>
    <span>{{ form.category }}</span>
  </div>
  <div>
    <label class="form-label">{{ form.sub_category.label }}:</label>
    <span>{{ form.sub_category }}</span>
  </div>
  {% endif %}
  <div>
    <input type="hidden" name="account" id="id_account">
  </div>
  <div>
    <input type="hidden" name="transfer_to_account" id="id_transfer_to_account">
  </div>
  <div class="row justify-content-center py-3">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <label class="form-label">{{ form.exclude_from_accounting.label }}:</label>
          <span>{{ form.exclude_from_accounting }}</span>
        </div>
      </div>
      {% if transaction_record_type == 'expense' %}
      <div class="row">
        <div class="col">
          <label class="form-label">{{ form.has_expense_items.label }}:</label>
          <span>{{ form.has_expense_items }}</span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
<script type="text/javascript" src="{% static 'budgeter/js/transfer_form.js' %}"></script>
