{% extends 'budgeter/base.html' %}
{% block content %}
<h2>Transaction Detail</h2>
<div>
  <div>
    <span>Date</span>: <span>{{ object.date }}</span>
  </div>
  <div>
    <span>Amount</span>: <span>{{ object.amount }}</span>
  </div>
  <div>
    <span>Description</span>: <span>{{ object.description.name }}</span>
  </div>
  <div>
    <span>Category</span>: <span>{{ object.category.name }}</span>
  </div>
  <div>
    <span>Payment From</span>: <span>{{ object.account.name }}</span>
  </div>
</div>
<a href="{% url 'transaction_record_update_view' object.id %}">Edit Transaction Record</a>
{% if object.tr_expense.has_expense_items %}
<h3>Expense Items</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Amount</th>
  </thead>
  <tbody>
    {% for expense_item in expense_items %}
    <tr>
      <td>{{ expense_item.name }}</td>
      <td>{{ expense_item.amount }}</td>
      <td><a href="{% url 'expense_item_update' expense_item.id %}">Edit</a></td>
      <td><a href="{% url 'expense_item_delete' expense_item.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'add_expense_item' expense_id=object.tr_expense.id %}">Add Expense Item</a>
{% comment %}
{% for expense_item in expense_items %}
{% for key, value in expense_item.get_fields %}
<div>{{ key }}: {{ value }}</div>
{% endfor %}
<a href="{% url 'expense_item_update' expense_item.id %}">Edit Expense Item</a>
{% endfor %}
{% endcomment %}
{% endif %}
    {% comment %}
    <h2>Recent Expenses: </h2>
        {% include 'budgeter/expense_list.html' %}
      {% endcomment %}
{% endblock %}
